*body{
    box-sizing: border-box;
}

.bgs{
    /* background-image: url("../Asset/Bgc1.webp"); */
    background-image: url("../Asset/bgimg1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;  
}


.navsection{
    width: 100%;
}
/*
.nav-item li a:hover{
    background-color:rgb(145, 214, 241);*/
    /*color: #fff;
}
 
.navbar-brand a:hover{
    color: crimson;
    background-color: antiquewhite;
}
*/

.navbar-nav .nav-item a:hover{
 color:#fff;
}

.loginRegi{
    display: inline-block;
}
.loginRegi a:hover{
    color:#fff;
}
.collapse{
    padding-left: 70px;
}
.navbar-nav .nav-item a:hover{
 color:#fff;
}

.loginRegi{
    display: inline-block;
}
.loginRegi a:hover{
    color:#fff;
}
.collapse{
    padding-left: 70px;
}

/* BO Opening Style*/

.boaccount{   
    padding-top: 50px;
    width: 100%;
    min-height: 639px; 
    margin: 0;  
    margin-right: 100px;
     
}

.row{
    padding: 0%;
    margin:0px auto;
    
}

table {
    font-size: 18px;    
    
    
    
}
.faall{
    margin-right: 10px;
    margin-left: 10px;

}

.instructions{
    font-size: 13px;
    height: 600px;    
    margin-left: 100px;
    margin-right: 40px;
   
}

.instcthead{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* background-color: darkgrey; */
    background-color: rgb(0, 91, 128);
    
}

.formdownloadshead{
    /* margin-left: 160px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* background:rgb(64, 101, 114); */
    background-color: rgb(0, 91, 128);
    width: 450px;
    
}
.formsinfo{
  
    padding:0px;
    width: 82%;
    height: 600px;
    
    

}
.formlist{
    padding:0px;
    text-justify: auto;
    
}

.formlist li{
  background-color: rgb(167, 237, 248);
  display: block;
  height: 100px;
  border-radius: 10%;
  
  }
.fdonwload{
    
    width: 300px;
    height: 101px;
    margin: 0px auto;
    
}

  .btngroup .btn a{
    color:#ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }

  .btngroup .btn a:hover{
    color:#ffffff;
    text-decoration: none;
  }

 .btnformline1 button {
    /* background:rgb(106, 221, 154); */
    background-color: rgb(0, 91, 128);
 }

 .btnformline1 button:hover {
    background:rgb(64, 101, 114);
    
 }

  .btngroup .btn {
    width: 450px;
    height: 49px;
}

/*Sitemap*/


* {
    box-sizing: border-box;
  }
  .ssmlsitemap{
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(145, 214, 241);
  }

 
.ssmlsitemap .flex-container {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        text-align: center;
        margin: 0 5px 0 5px;
      
  }
  
  .ssmlsitemap .flex-item-left {
    flex: 16%;
  }

  .ssmlsitemap .flex-item-left1 {
   width: 100px;
    flex: 6%;
    
  }

  .relative{
    position: relative;   
    
}


.absolute{
  position: absolute;  
  bottom:0;  
  left:0;
  right: 0;  
  margin:auto;
}
  
ul li{
    text-align: left;
    display: block;
}

li a{
    text-decoration: none;
}
.sitemaps{
    text-align:left; 
    
    
  }
  .sitemaps a{
    text-decoration: none;
    color:#000;
  }

  .sitemaps a:hover{
    color:#fff;
  }

.sitemaps h6{
    margin-top: 10px;
    font-weight: bold;
    font-family:  sans-serif;
    color: #0B5ED7;
    text-decoration: underline;    
}
.chq h6{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-family:  sans-serif;
    color: #0B5ED7;
    text-decoration: underline;   
}  

@media (max-width: 800px) {
    .info{
        display: none;      
    }
    .form-check-label, .form-check-input{
        display: none;
    }
    
    
  }

.copyright{
    text-align: center; 
    height: 20px;
    background-color: rgb(68, 171, 212);
    font-size: 13px;
    color:#000;
    padding: 0;
    
}
.copyright a{
    text-decoration: none;
    color: #000;
}

